<div class="modal-body">
  <div class="container-fluid">
    <div class="model-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{shop.name}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-2"> 
            <agm-map style="height: 300px;" [latitude]="lat" [longitude]="lng" [zoom]="zoom">  
            <agm-marker  [latitude]="lat" [longitude]="lng"></agm-marker>  
            </agm-map>  
          </div>
          <div class="col-xs-10">
            {{shop.name}}   {{shop.description}} 
            <a mat-raised-button href="tel:{{shop.contacts}}">CALL US </a>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
