<div class="modal-body">
  <div class="model-content">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-basic-title">{{shop.name}}</h3>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click');close();">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <mat-card>
        <carousel [cellsToShow]="4" [height]="200" [arrows]=false>
          <div class="carousel-cell">
            <img mat-card-lg-image src="/api/images/{{shop.image2}}" alt="logo" onerror="this.src='../../assets/storefront1.png'" class="logo">
          </div>
          <div class="carousel-cell">
            <img mat-card-lg-image src="/api/images/{{shop.image3}}" alt="logo" onerror="this.src='../../assets/storefront1.png'" class="logo">
          </div>
          <div class="carousel-cell">
            <img mat-card-lg-image src="/api/images/{{shop.image4}}" alt="logo" onerror="this.src='../../assets/storefront1.png'" class="logo">
          </div>
          <div class="carousel-cell">
            <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="logo" onerror="this.src='../../assets/storefront1.png'" class="logo">
          </div>
        </carousel>
        <mat-card-content>
          <p>
            {{shop.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div class="buttons">
            <a mat-raised-button href="tel:{{shop.contacts}}">CALL US </a>
            <a mat-raised-button (click) = "follow(shop.id, true);_isFollowing=true" *ngIf="!(_isFollowing)" >FOLLOW</a>
            <a mat-raised-button (click) = "follow(shop.id, false);_isFollowing=false" *ngIf="_isFollowing" >UNFOLLOW</a>
          </div>
        </mat-card-actions>
      </mat-card>
        <div class="table-responsive">
          <table class="table table-striped w-100"  mdbTable mdbTableScroll scrollY="true" bordered="true" maxHeight="200">
            <thead>
              <tr>
                <th>Produce</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let produce of produce">
                <td>{{produce.name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      <google-map *ngIf="isGeolocated"
        height="500px"
        width="100%"
        [zoom]="zoom"
        [center]="center">
        <map-marker
          [position]="marker"
          [label]="shop.name"
        >
        </map-marker>
      </google-map>
    </div>
  </div>
</div>
