<h1 id="tableLabel">Shops</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!shop"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="shop">
  <thead>
    <tr>
      <th>Id</th>
      <th>name</th>
      <th>description</th>
      <th>location</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let shop of shop">
      <td>{{ shop.id }}</td>
      <td>{{ shop.name }}</td>
      <td>{{ shop.description }}</td>
      <td>{{ shop.location }}</td>
    </tr>
  </tbody>
</table>
