.form-container  {
    margin-top: 18px;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.form-container .buttons {
  display: inline-block;
}